<div>
  <h1>Bienvenido {{user.email}}</h1>
    <h1>Bienvenido {{user.name}}!!</h1>
    
<div>
  <button id="logout">Logout</button>
  <script type="text/javascript">
    document.getElementById("logout").onclick = function (){
        location.href = "http://localhost:8080/loger";
    }
  </script>
</div>
</div>