<div>
    <h1>Por favor logueate!</h1>

    <form id="loginForm">
        <label>Nombre</label>
        <input type="name" name="name">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" id="login">
        <script type="text/javascript">
          document.getElementById('login').onclick = function (){
            location.href = "http://localhost:8080/current"
          }
        
        </script>
    </form>
    <div>
      <p>Tambien te puedes loguear en github :)</p>
      <a href="/api/sessions/github"><button>Git Hub</button></a>
    </div>
</div>

<script src="/js/login.js"></script>