<div>
    <h1>Ingresa tus datos!</h1>

    <form id="loginForm">
        <label>Nombre</label>
        <input type="name" name="name">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/login.js"></script>