<div>
    <h1>Registrate :)</h1>

    <form id="registerForm">
        <label>Nombre</label>
        <input type="name" name="name">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
    <a href="/welcome">Ir al inicio</a>

<script src="/js/register.js"></script>